.menu{
    list-style: none;
    font-size: 25px;

    li a{
        padding: 1.5rem;
        text-decoration: none;
        color: $color3;
    }
    li:hover{
        color: $color4;
        background-color: $color2;
    }
}