.partidos{
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color3;
    font-size: 25px;
    flex-direction: row;
    align-items: center;

    ul li{
        border-style: solid;
        border-color: $color3;
        list-style: none;
        padding: 1rem;
        margin-right: 10%;
        background-color: $color1;
    }
}
.partidos__resumen{
    padding: 1rem;
}
@mixin sizes($width, $height, $bcolor) {
    width: $width;
    height: $height;
    background-color: $bcolor;
}

.partido1{
    @include sizes(100%, 100%, $color1)
}
.partido2{
    @include sizes(100%,100% ,$color2 )
}
.partido3{
    @include sizes(100%,100% , darkred )
}
.lista{
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color3;
    font-size: 15px;
    display: flex;
    flex-direction: column;

    li{
        padding: 1rem;
        border: solid $color3;
        list-style: none;
        background-color: $color1;
    }
}
.partidosTablas{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 1rem;

    .partidos2022{
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color3;
        border-style: solid;
        text-align: left;
        margin: 2%;
        position: relative;
        width: 80%;
    
        li{
        padding: 5px;
        background-color: $color1;
        }
    }
    .table{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color3;
        border-style: solid;
        position: relative;
        width: 80%;
        font-size: 12px;
    
        td{
        background-color: $color1;
        border: solid;
        }
        th{
            background-color: $color1;
            border: solid;
        }
        .Independiente{
            font-weight: bolder;
            td{
                background-color:darkred;
            }
            th{
                background-color: darkred;
            }
        }
    }
}
    
