$color1: red;
$color2: coral;
$color3: whitesmoke;
$color4: black;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
 }
.navbar{
    background-color: $color1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../img/diablo.png);
    background-size: contain;
    
    h1 a{
        font-size: 50px;
        color: $color3;
        text-decoration: none;
    }
    h1 a:hover{
        background-color: $color2;
        color: $color3;
        text-decoration: none;
    }
}

main{
    height: 235vh;
    width: 100%;
    background-color: $color1;
    background-image: url(../img/todorojo.png);
    background-size: cover;

    .tituloDeSeccion{
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color3;
        text-decoration: none;
        font-weight: bold;
    }
    .tituloDeSeccion:hover{
        background-color: $color2;
        color: $color3;
        text-decoration: none;
    }
}

@import "_menu";
@import "_grid";
@import "_partidos";
@import "_noticias";
@import "_contacto";
@import "_footer";
@import "_media";

$contacto:(
    20px:white,
    21px:pink,
    22px:lightblue,
);

@each $csize, $ccolor in $contacto {
    .btn--#{$csize} {
        background-color: $color1;
        font-size: $csize;
        color: $ccolor;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 1.5rem;
        border: solid;
        margin: 5%;
    }
};
