* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar {
  background-color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(../img/diablo.png);
  background-size: contain;
}
.navbar h1 a {
  font-size: 50px;
  color: whitesmoke;
  text-decoration: none;
}
.navbar h1 a:hover {
  background-color: coral;
  color: whitesmoke;
  text-decoration: none;
}

main {
  height: 235vh;
  width: 100%;
  background-color: red;
  background-image: url(../img/todorojo.png);
  background-size: cover;
}
main .tituloDeSeccion {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
main .tituloDeSeccion:hover {
  background-color: coral;
  color: whitesmoke;
  text-decoration: none;
}

.menu {
  list-style: none;
  font-size: 25px;
}
.menu li a {
  padding: 1.5rem;
  text-decoration: none;
  color: whitesmoke;
}
.menu li:hover {
  color: black;
  background-color: coral;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 50% 50%;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}
.grid img {
  width: 100%;
  height: 100%;
}
.grid div {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1.5rem;
}
.grid div img:hover {
  width: 90%;
  height: 90%;
  transition: 0.5s;
  box-shadow: black;
  filter: brightness(50%);
}
.grid .tituloDeNoticia {
  font-size: 25px;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  width: 70%;
  text-shadow: 0 0 5px black;
  visibility: hidden;
  user-select: none;
  padding: 1rem;
}
.grid .imagen_fija:hover {
  width: 100%;
}
.grid div:hover > .tituloDeNoticia {
  visibility: visible;
  text-align: center;
  padding: 1rem;
  transition: 0.5s;
  opacity: 1;
}

.noticiasAside img {
  width: 100%;
  height: 100%;
}
.noticiasAside div {
  display: flex;
  position: absolute;
  padding: 1.5rem;
  align-items: center;
}
.noticiasAside div img:hover {
  width: 90%;
  height: 90%;
  transition: 0.5s;
  box-shadow: black;
  filter: brightness(50%);
}
.noticiasAside .tituloDeNoticia {
  font-size: 25px;
  color: whitesmoke;
  position: absolute;
  width: 70%;
  text-shadow: 0 0 5px black;
  visibility: hidden;
  user-select: none;
  text-align: left;
  padding: 1rem;
}
.noticiasAside div:hover > .tituloDeNoticia {
  visibility: visible;
  text-align: center;
  padding: 1rem;
  transition: 0.5s;
  opacity: 1;
}

.partidos {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  font-size: 25px;
  flex-direction: row;
  align-items: center;
}
.partidos ul li {
  border-style: solid;
  border-color: whitesmoke;
  list-style: none;
  padding: 1rem;
  margin-right: 10%;
  background-color: red;
}

.partidos__resumen {
  padding: 1rem;
}

.partido1 {
  width: 100%;
  height: 100%;
  background-color: red;
}

.partido2 {
  width: 100%;
  height: 100%;
  background-color: coral;
}

.partido3 {
  width: 100%;
  height: 100%;
  background-color: darkred;
}

.lista {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.lista li {
  padding: 1rem;
  border: solid whitesmoke;
  list-style: none;
  background-color: red;
}

.partidos2022 {
  display: flex;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  border-style: solid;
  text-align: center;
  margin: 2%;
  position: relative;
}
.partidos2022 li {
  padding: 5px;
  background-color: red;
}

.noticias {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.noticias img {
  height: 40%;
  width: 80%;
}
.noticias h2 {
  display: flex;
  position: relative;
  font-size: 40px;
}
.noticias p {
  display: flex;
  position: relative;
  font-size: 25px;
}

.contacto {
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}
.contacto li {
  background-color: red;
  padding: 5px;
}

aside {
  margin: 2%;
}

section {
  margin: 2%;
}

footer {
  display: flex;
  justify-content: center;
  border-top: solid black;
}
footer ul li {
  list-style: none;
  display: inline;
}

@media screen and (min-width: 300px) and (max-width: 659px) {
  main {
    height: 300vh;
  }
  .grid {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 3fr 3fr 3fr 3fr;
    padding: 1.5rem;
  }
  .video {
    height: 60%;
    width: 100%;
  }
  .partidos__lista {
    height: 40%;
    width: 50%;
    font-size: 15px;
    padding: 1rem;
  }
  .lista {
    height: 20%;
    font-size: 14px;
  }
}
@media screen and (min-width: 660px) and (max-width: 768px) {
  .video {
    width: 100%;
  }
  .partidos__lista {
    height: 60%;
    width: 50%;
    font-size: 25px;
    padding: 1rem;
  }
}
.btn--20px {
  background-color: red;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
  border: solid;
  margin: 5%;
}

.btn--21px {
  background-color: red;
  font-size: 21px;
  color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
  border: solid;
  margin: 5%;
}

.btn--22px {
  background-color: red;
  font-size: 22px;
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
  border: solid;
  margin: 5%;
}

/*# sourceMappingURL=estilo.css.map */
